.header-wrapper {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  padding: 5px 0px;
  background-color: white;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

/* 브라우저에 꽉 차게 하기위해서 padding 을 0으로 설정
=> 다만 header, status-bar은 padding 이 필요하므로 따로 설정을 함 */
.chat-body {
  padding: 10px 0px;
  padding-top: 100px;
}

.chat-body .header,
.chat-body .status-bar {
  padding: 0px 20px;
  padding-top: 5px;
}

.chat-body {
  background-image: url("../images/chatBg.png");
  /* vh(viowportHeight) vw(viewportWidth) 
  1vh: viewport(screen) 높이의 1% */
  min-height: 1000vh;
}

.chat__write--container {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  /* fixed 를 가운데 정렬하는 법*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  /* margin은 animate 할 수 없기떄문에 focuse 안에 넣으면 이상해짐. */
  margin: 0 auto;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in, border-radius 0.5s ease-in,
    transform 0.5s ease-in;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.2s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-80px);
  border-radius: 40px;
  /* horizontal len, vertical len, blur amount, color */
  /* first shadow option, second shadow option -> make two shadow */
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 3s linear infinite forwards;
}

/* .chat__write 뒤에 있는 .chat__icon 클래스를 선택하는 sibling selector
        [[무조건 해당 태그의 뒤(아래)에 있어야함]]
*/
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: rgb(240, 217, 255);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.247059) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.298039) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.0235294) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: rgba(50, 50, 93, 0.247059) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.298039) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.0235294) 0px -6px 16px -6px;
  /* animation: spin 1s linear infinite; */
}

.message .message__bubble {
  display: block;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.247059) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.298039) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.0235294) 0px -6px 16px -6px;
  padding: 10px 20px;
  border-radius: 40px;
  color: white;
  font-weight: 600;
}

.incoming-message .message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #f46b45, #eea849);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to right, #83a4d4, #b6fbff);
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnim 0.8s ease-out forwards;
}

@keyframes sentAnim {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnim 0.8s ease-out forwards;
}
