@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: rgb(172, 172, 172);
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h3 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile {
  margin: 30px;
  position: relative;
  width: 500px;
  height: 800px;
}

.profile__background {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
  width: 500px;
  height: 800px;
}

.profile__background__blur {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
  width: 500px;
  height: 800px;
  background-color: white;
  opacity: 0.9;
}

.profile-holder {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
  width: 100%;
  height: 100%;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 35px;
}

.profile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
}

.profile__person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}

.profile__person-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 14px 46px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 46px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 46px -9px rgba(0, 0, 0, 0.75);
}

.person-text {
  margin-top: 10px;
}

.profile__btn-holder {
  margin-top: 75px;
}

.profile__person-name {
  color: #2d9afa;
}

.profile__person-location {
  font-weight: 500;
}

.profile-btn {
  margin: 10px;
  padding: 15px 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 14px 46px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 46px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 46px -9px rgba(0, 0, 0, 0.75);
}

.profile__follow-btn {
  background-color: white;
  color: black;
}

.profile__message-btn {
  background-color: #2d9afa;
  color: white;
}

.profile__infor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile__infor-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 65px 20px;
}

.infor-text {
  font-weight: 500;
  opacity: 0.8;
}

.nav {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 50px;
}
